Makefile.depends
nachos
*.o
swtch.s

/code/bin/coff2noff
/code/bin/coff2flat
/code/bin/disassemble

/code/test/lib/
/code/test/mips-dec-ultrix42/
/code/test/filetest
/code/test/halt
/code/test/matmult
/code/test/shell
/code/test/sort
/code/test/tiny_shell
/code/test/*.coff
